@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
  /* transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms; */
}
html.dark {
  background-color: rgb(24 24 27); /* bg-zinc-900 */
}

html.dark > * .drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
  opacity: 0.7;
}

.drawer-toggle ~ .drawer-side > .drawer-overlay {
  background-color: rgb(24 24 27);
}

.drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
  opacity: 0.4;
}

.drawer-toggle:checked ~ .drawer-side {
  backdrop-filter: blur(4px);
  transition-property: backdrop-filter;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.drawer-toggle ~ .drawer-content {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
}

@media (min-width: 640px) {
  .drawer-toggle ~ .drawer-side {
    display: none;
  }
}
